.Footer_footer__1IwEk * {
    font-family: Amiri,"sans-serif","system-ui"
}

.Footer_footnotes__f5fkq p {
    margin: 0 0 16px
}

.Footer_footnotes__f5fkq p:last-child {
    margin-bottom: 0
}

.MemberConcierge_orangePurpleGradient__OQvdV {
    background: linear-gradient(90deg,#c78b58,#956a68)
}

.MemberConcierge_pause__1szSE:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.MemberConcierge_container__8JCoS {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden
}

.MemberConcierge_carousel__CXx87 {
    display: flex
}

.MemberConcierge_carousel__items__MMPaZ {
    -webkit-animation: MemberConcierge_rotate__gL32Z 100s linear infinite;
    animation: MemberConcierge_rotate__gL32Z 100s linear infinite;
    display: flex;
    align-items: center;
    gap: 3.5rem
}

.MemberConcierge_carousel__items__MMPaZ:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.MemberConcierge_reverse__S62bp {
    -webkit-animation-name: MemberConcierge_rotate-reverse__4T_fc;
    animation-name: MemberConcierge_rotate-reverse__4T_fc
}

.MemberConcierge_logo___v1w6 {
    position: relative;
    display: flex;
    height: 128px;
    width: 128px;
    flex-shrink: 0;
    align-items: center
}

@-webkit-keyframes MemberConcierge_rotate__gL32Z {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(var(--carousel-end))
    }
}

@keyframes MemberConcierge_rotate__gL32Z {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(var(--carousel-end))
    }
}

@-webkit-keyframes MemberConcierge_rotate-reverse__4T_fc {
    0% {
        transform: translateX(var(--carousel-end))
    }

    to {
        transform: translateX(0)
    }
}

@keyframes MemberConcierge_rotate-reverse__4T_fc {
    0% {
        transform: translateX(var(--carousel-end))
    }

    to {
        transform: translateX(0)
    }
}

.OfferingDetail_offeringDetail__ETzLL {
    font-family: Libre Franklin,sans-serif,system-ui;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(28 28 28/var(--tw-text-opacity))
}

.OfferingDetail_offeringDetail__ETzLL h1,.OfferingDetail_offeringDetail__ETzLL h2 {
    display: block;
    font-family: Amiri,sans-serif,system-ui;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(28 28 28/var(--tw-text-opacity))
}

.OfferingDetail_offeringDetail__ETzLL h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: 2rem
}

@media (min-width: 768px) {
    .OfferingDetail_offeringDetail__ETzLL h1 {
        font-size:2.25rem;
        line-height: 2.5rem
    }
}

.OfferingDetail_offeringDetail__ETzLL h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem
}

@media (min-width: 768px) {
    .OfferingDetail_offeringDetail__ETzLL h2 {
        font-size:1.875rem;
        line-height: 2.25rem
    }
}

.OfferingDetail_offeringDetail__ETzLL h1 sup {
    font-size: .5em
}

.OfferingDetail_offeringDetail__ETzLL p {
    margin-bottom: 1.5rem
}

.OfferingDetail_offeringDetail__ETzLL strong {
    font-weight: 600
}

.OfferingDetail_offeringDetail__ETzLL ul {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.OfferingDetail_offeringDetail__ETzLL ul:last-child {
    margin-bottom: 0
}

.OfferingDetail_offeringDetail__ETzLL table {
    margin-bottom: 1.5rem;
    width: 100%;
    border-style: none
}

.OfferingDetail_offeringDetail__ETzLL thead tr {
    --tw-bg-opacity: 1;
    background-color: rgb(221 221 221/var(--tw-bg-opacity))
}

.OfferingDetail_offeringDetail__ETzLL thead tr:first-child {
    --tw-bg-opacity: 1;
    background-color: rgb(28 28 28/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(251 251 251/var(--tw-text-opacity))
}

.OfferingDetail_offeringDetail__ETzLL thead tr:first-child th {
    --tw-border-opacity: 1;
    border-color: rgb(28 28 28/var(--tw-border-opacity));
    text-align: center
}

.OfferingDetail_offeringDetail__ETzLL thead th {
    border-bottom-width: 0!important;
    text-align: left;
    font-weight: 600
}

.OfferingDetail_offeringDetail__ETzLL tbody th {
    text-align: left;
    font-weight: 600
}

.OfferingDetail_offeringDetail__ETzLL table td,.OfferingDetail_offeringDetail__ETzLL table th {
    border-width: 0 0 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(186 186 186/var(--tw-border-opacity));
    padding: .5rem 1rem
}

.OfferingDetail_offeringDetail__ETzLL table td:first-child,.OfferingDetail_offeringDetail__ETzLL table th:first-child {
    border-left-width: 1px
}

.OfferingDetail_offeringDetail__ETzLL table td:last-child,.OfferingDetail_offeringDetail__ETzLL table th:last-child {
    border-right-width: 1px
}

.OfferingDetail_offeringDetail__ETzLL table tbody tr:first-child td,.OfferingDetail_offeringDetail__ETzLL table tbody tr:first-child th {
    border-top-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(186 186 186/var(--tw-border-opacity))
}

.OfferingDetail_statistic__lqgYA {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center
}

.OfferingDetail_statistic__label__XAAYO {
    font-weight: 600;
    text-transform: uppercase
}

.OfferingDetail_statistic__value__75Pta {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600
}

/*# sourceMappingURL=c9cbbb88ff4b2f05.css.map*/
